* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
body {
    height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 100vw;
 overflow-x: hidden;
  background-color: rgb(255, 230, 230);
padding-top: 10px;
}
.circle1 {
    width: 150vw;
    height: 120vw;
    top: -200%;
    z-index: -3;
    border-radius: 50%;
    position: absolute;
    border: white solid 10px;
    background-color: rgb(253, 192, 192);
    transition: .6s;
    transform-origin: top;
}
.lips-background {
    position: absolute;
    top: 0px;
    z-index: -1;
    right: -3px;
   width: 180px;
    filter: blur(.5px);
    transform: rotate(-30deg);
}
html {
    max-width: 100vw;
}
.preload {
    position: fixed;
    width:100%;
    height: 100vh;
    background-color: black;
    z-index:99;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


}
.loadcomplete {
    animation: loadcomp 1s 4s forwards;
     
}
@keyframes loadcomp {
    0% {
        opacity: 1;

    }
    100% {
        opacity: 0;
    
    }
  
    
}
.browser {
    position:absolute;
    top: 80%;
    display: flex;
  
    align-items: center;
    flex-direction: column;
}
.preload span {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:rgb(248, 41, 41);
    margin: 10px;
    
}
.preload p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    animation: load1 0.5s infinite alternate;
 
}
.preload .container1i{
    display: inline-block;
    height: 50px;
    
   
} 
@keyframes load1 {
    from {
        opacity: .6;
    }
    to {
        opacity:1;
    }
}
.progressw {
    width: 200px;
}
.windowprogress {
    height: 5px;
    background: hotpink;
   width:0px;
}
.dot {
    width:10px;
    height:10px;
    background: white;
    display:inline-block;
    border-radius: 40%;
    margin: 1px;
}
.dot1 {
    background: red;
    animation: load 0.5s alternate infinite ease-in-out;
}
.dot2 {
    background: rgb(207, 30, 163);
    animation: load 0.5s .1s alternate infinite ease-in-out;
}
.dot3 {
    background: rgb(240, 243, 33);
    animation: load 0.5s .2s alternate infinite ease-in-out;
}
@keyframes load {
    from {
        transform: translate(1px,8px);
        width: 7px;
        height: 7px;
    }
    to {
        transform: translate(0,0);
        width: 15px;
        height: 15px;
        opacity: .1;
    }
}
#canvas,#canvas2 {
  
   
    border-radius: 10px;
   width: 600;
   height: 400;
    box-shadow: 5px 5px 10px 0px rgba(31, 30, 30, 0.3);

  
}
#canvas {
   -webkit-filter: blur(1px);

    background-blend-mode: overlay;
   
}
#myBtn {
   min-width: 100px;
    min-height: 40px;
    box-shadow: 2px 2px 4px 0px rgb(116, 116, 116);
    background-color: rgb(236, 74, 74);
    border: none;
    border-radius: 3px;
    transition: all .5s;
   
}
#myBtn:hover {
    color:white;
    background-color: black;

}
.videofeed {
    display: flex;
    align-items: center;
    margin: 20px;
    justify-content: center;
  

}
h5 {
    position: absolute;
    color: rgb(12, 12, 11);
    right: 5px;
    top:5px;
    font-family:'Courier New', Courier, monospace;
    background-color: rgb(223, 222, 222);
    padding: 2px;
    border-radius: 3px;
    color: rgb(160, 160, 160);
}
@media only screen and (max-width: 600px) {
 #canvas2 ,#canvas   {
      width: 300px;
      height: 400px;
  }
  .circle1 {
      top: -20%;
  }
 
}

body h1 {
    color: rgb(219, 3, 3);
   position: absolute;
   text-shadow: rgb(146, 139, 139) 2px 2px 4px;
    top: 30px;
    font-family: 'Birthstone', cursive;
    
}

@keyframes right {
    from{
 transform: translateX(0);
    }
    to {
        transform: translateX(-100px);
        transform: translateX(60deg);
        background-color: red;
    }
}
@keyframes left {
    from{
        transform: translateX(0);
    }
    to {
        transform: translateX(100px);
        transform: translateX(-60deg);
        background-color: blue;
    }
}
.color {
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  min-height: 150px;
    overflow-y: scroll;

    border-radius: 5px;
    background-color: rgb(238, 237, 237);
}
.clr-btns {
    width: 55px;
    height: 55px;
    border-radius: 50% 50%;
    appearance: none;
    border:white 3px solid;
    margin: 10px;
    font-family: 'Franklin Gothic Medium', 'Bold', Arial, sans-serif;
    color: blanchedalmond;
    font-size: 10px;
    box-shadow: 2px 2px 5px 0px rgb(24, 24, 24) ;
     word-wrap: break-word;
    
}
.loadvideo {
    display: none;
    position: absolute;
    
    
    width: 60px;
    height: 40px;
    justify-content: center;
    align-items: center;
    
}
.clr-btns:hover {
    cursor: pointer;
    border-color: rgb(156, 245, 237);
}
.clr-btns:active {
    border-color: greenyellow;
}


.loadvideo p {
    margin: 6px;
    position: absolute;
    bottom: -30px;
    color: rgb(71, 70, 70);
}